!!! 5
%html
	%head
		%title
		%meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}
		%link{ :href => 'css/design.css', :rel => 'stylesheet'}
		%link{ :href => 'css/bootstrap/bootstrap.min.css', :rel => 'stylesheet'}
		%link{ :href => 'css/bootstrap/bootstrap-responsive.min.css', :rel => 'stylesheet'}

		%script{ :'data-main' => 'js/main', :src => 'js/libs/require/require.js'}

	%body
		.navbar
			.navbar-inner
				.container
					%a.brand{ :href => '#'}
						DOM tree
					%ul.nav
						%li.active
							%a{ :href => '#'}
								Tree
						%li
							%a{ :href => '#'}
								JavaScript
						%li
							%a{ :href => '#'}
								Customize

						%li.dropdown
							%a.dropdown-toggle{ :'data-toggle' => 'dropdown', :href => '#'}
								Account
								%b.caret
							%ul.dropdown-menu{ :role => 'menu', :'aria-labelledby' => 'dLabel'}
								%li
									%a.settings
										Settings
								%li
									%a.balance
										Balance					

					%form.navbar-search.pull-right
						%input.search-query{ :type => 'text', :placeholder => 'Search'}

		.container-fluid
			.row-fluid
				.span2.bs-docs-sidebar
					%ul.nav.nav-list.bs-docs-sidenav.affix.hidden-phone{ :'data-spy' => 'affix', :'data-offset-top' => '0'}
						%li.active
							%a{ :href => '#overview'}
								Overview
						%li
							%a{ :href => '#tree'}
								Tree
						%li
							%a{ :href => '#code'}
								Code

				.span10
					%h2#tree
						SVG Circles
					%span.help-block
						transitions duration and direction are random
					%button.btn.btn-success.runCircles
						Run

					%svg.circles
						%circle
						%circle
						%circle
						%circle
						%circle
						%circle

					%hr.bs-docs-separator
					%h2
						Get Resource
					%form.form-horizontal
						.control-group
							%label.control-label{ :for => 'url'}
								URL
							.controls
								%input#url.input-xlarge{ :type => 'text', :placeholder => 'Paste URL ...'}
								%span.help-block
									to create DOM tree
						.control-group
							.controls
								%button.btn{ :type => 'submit'}
									Submit

					%hr.bs-docs-separator
					%h2#tree
						Tree
					%svg.branch

					%hr.bs-docs-separator
					%h2#tree
						Bar Chart
					%button.btn.btn-success.runBarChart
						Run
					%svg.barChart

					%hr.bs-docs-separator
					%h2#code
						Code
					%code
						:escaped
							<section>


					%hr.bs-docs-separator
					%h2#modalDemo
						Modal Demo
					.modalDemo
						%a.btn{ :'data-toggle' => 'modal', :href => '.myModal', :role => 'button'}
							Modal Demo

		.myModal.modal.hide.fade
			.modal-header
				%a.close{ :type => 'button', :'data-dismiss' => 'modal', :'aria-hidden' => 'true'}
					&times;
				%h3
					Modal header
			.modal-body
				%p
					One fine body ...
			.modal-footer
				%a.btn{ :'data-dismiss' => 'modal', :'aria-hidden' => 'true'}
					Close
				%a.btn.btn-primary
					Save changes









		%script{ :src => 'js/libs/jquery/jquery.js'}
		%script{ :src => 'js/bootstrap/bootstrap.min.js'}
		%script{ :src => 'js/libs/underscore/underscore.js'}
		%script{ :src => 'js/libs/backbone/backbone.js'}
		%script{ :src => 'js/d3.v3/d3.v3.min.js'}